div{
    width: 500px;
    height: 250px;
    background-color: slategray;
    margin: 50px auto;
    text-align: center;
}

/* div::before{
    content: 'Hi, ';
} */
/* atau bisa juga */
div h2::before{
    content: 'Hi, ';
}


div h2::after{
    content: ' world!';
    color: red;
    font-weight: 800;
    text-transform: uppercase;
}