*{
    text-align: center;
}
blockquote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    font-style: italic;
    margin-top: 50px;
    padding: 10px;
    color: #333;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    line-height: 1.4em;
    position: relative;
}

blockquote::before,
blockquote::after{
    content: open-quote;
    font-size: 3.75rem;
    line-height: 0;
    color: #999;
    position: relative;
    top: 20px;
}

blockquote::after{
    content: close-quote;
    position: relative;
    top: 23px;
}

p{
    font-size: 3em;
    font-weight: bolder;
}